API_NAME=ValidBase
API_VERSION=1.0.0
API_ENV_MODE=development # development, production, test
API_URL=http://0.0.0.0:3000
API_PORT=3000
API_HOST=0.0.0.0

AUTH_SECRET=secret # Generate with: node -e "console.log(require('crypto').randomBytes(48).toString('base64url'))"
AUTH_ISSUER=valid_base
AUTH_TOKEN_TTL=3600

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your_email@example.com
SMTP_PASS=your_email_password

DATABASE_URL=postgresql://postgres:password@localhost:5432/valid_base
REDIS_URL=redis://default:password@0.0.0.0:6379
